In [38]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [39]:
#Loading the student dataset
df_mudiaga = pd.read_csv("C:\\Users\\otoja\\lab2.package\\lab2.package\\student.cleaned.data.csv")

In [40]:
#Explore the data
df_mudiaga.head()
df_mudiaga.columns.values
df_mudiaga.isnull().sum()
df_mudiaga.describe()
df_mudiaga.columns
df_mudiaga.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   gender      395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [41]:
#Preprocessing the student dataset making "G3" the target column
df_mudiaga["G3"] = df_mudiaga["G3"].apply(lambda x: 1 if x >= 10 else 0)
X = df_mudiaga[["traveltime", "studytime", "failures", "famrel", "freetime", "goout", "health"]]
y = df_mudiaga["G3"]
print(y.value_counts())

1    265
0    130
Name: G3, dtype: int64

In [42]:
#Splitting the dataset into training and testing sets with a test size of 20% and random seed of 42
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(y_train.shape)
print(y_test.shape)

# Making n one-dimentsional
y_train = y_train.values.reshape(-1)
y_test = y_test.values.reshape(-1)

(316,)
(79,)

In [43]:
#Create a logistic regression model 
model = LogisticRegression()

In [44]:
#Train the model
model.fit(X_train, y_train)

LogisticRegression()

In [45]:
#Making predictions with the model
y_pred = model.predict(X_test)

In [46]:
#Calculation of the accuracy of the model
modelAccuracy = accuracy_score(y_test, y_pred)
print("The Accuracy of the model:", modelAccuracy)

The Accuracy of the model: 0.7468354430379747